<header class="flex items-center justify-between h-[76px] px-16 bg-[#252323]">
  <img
    src="../../../assets/images/logo_edu.svg"
    alt="trackto edu"
    class="h-14 max-w-max"
  />
  <div class="flex items-center">
    <div class="flex items-center gap-2">
      <button><img src="../../../assets/icons/calendar.svg" alt="" /></button>
      <span class="text-[#E4EBFB] text-lg">{{ date }}</span>
    </div>
    <div class="w-px h-6 mx-8 bg-[#E4EBFB]"></div>
    <button><img src="../../../assets/icons/notification.svg" alt="" /></button>
    <span class="w-px h-6 mx-8 bg-[#E4EBFB]"></span>
    <button class="flex items-center gap-1">
      <div class="w-10 h-10 rounded-full bg-red-500"></div>
      <img src="../../../assets/icons/dropdown-menu.svg" alt="" />
    </button>
  </div>
</header>
