<div class="flex flex-col h-screen">
  <app-header></app-header>
  <main class="flex flex-col flex-1 p-16 pt-8 gap-12 bg-[#EFF2F9]">
    <img src="../../../assets/images/frame.svg" alt="frame courseware" />
    <app-courseware-section
      title="Material didático"
      subtitle="Acesse suas últimas apresentações de aula."
      buttonLabel="Ver todo conteúdo"
      buttonColor="#4743FF"
      [firstUpdatedDate]="firstUpdatedDate"
      [lastUpdatedDate]="lastUpdatedDate"
    >
      <app-course
        *ngFor="let course of courseware"
        [id]="course.id"
        [title]="course.title"
        [slideAmount]="course.pages"
        [thumb]="course.thumb"
      >
      </app-course>
    </app-courseware-section>
  </main>
</div>
