.font-family-poppins {
  font-family: "Poppins", sans-serif;
}

.background-pattern {
  background: url("../../../assets/images/background_pattern.png"), #1d1b1b;
  background-size: 2000px;
  background-position: center;
}
