<div class="flex flex-col h-screen">
  <app-header></app-header>
  <main class="flex flex-1 mt-[76px]">
    <nav class="flex flex-1">
      <ul class="flex flex-1 items-center justify-evenly background-pattern">
        <li>
          <app-home-anchor
            label="Material Didático"
            labelClassColor="bg-[#4173CD]"
            borderClassColor="border-[#80ABF9]"
            backgroundClassColor="bg-[#C2D8FF]"
            containerImageClassEffect="hover:shadow-[0_0_10px_0_#C2D8FF]"
            image="../../../assets/images/study_book.svg"
            link="/material-didatico"
          ></app-home-anchor>
        </li>
        <li>
          <app-home-anchor
            label="Quiz"
            labelClassColor="bg-[#1DC763]"
            borderClassColor="border-[#FFCF60]"
            backgroundClassColor="bg-[#91DEA2]"
            containerImageClassEffect="hover:shadow-[0_0_10px_0_#91DEA2]"
            image="../../../assets/images/medal.svg"
          ></app-home-anchor>
        </li>
        <li>
          <app-home-anchor
            label="Desenho"
            labelClassColor="bg-[#F6B5FF]"
            borderClassColor="border-[#FFCF60]"
            backgroundClassColor="bg-[#F4AEFF]"
            containerImageClassEffect="hover:shadow-[0_0_10px_0_#F4AEFF]"
            image="../../../assets/images/paint.svg"
          ></app-home-anchor>
        </li>
        <li>
          <app-home-anchor
            label="Youtube"
            labelClassColor="bg-[#FF0000]"
            borderClassColor="border-[#FF6868]"
            backgroundClassColor="bg-[#FFBFBF]"
            containerImageClassEffect="hover:shadow-[0_0_10px_0_#FFBFBF]"
            image="../../../assets/images/youtube.svg"
          ></app-home-anchor>
        </li>
      </ul>
    </nav>
  </main>
</div>
